.form-group{
    width: 500px;
}

.Academy-card{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 5px #9e9b9b;
    margin: 10px;
    width: 600px;
    margin-top: 150px;
}


.linkToAdd{
    margin-top: 30px;
}

.AcademyForm{
    margin-top: 10%;
}
