.card{
    width: 18rem;
    box-shadow: 5px 5px 5px #9e9b9b;
    margin: 10px;

}

.card-body{
    height: 260px;
}

.resultCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}